In [10]:
# load packages
import pandas as pd
import numpy as np

In [11]:
# import dataset
data = pd.read_csv('StatData.csv')

data.head()

,batch,Appnumber,Type,MonthlyRent,Size,RacialGroup,Sex,contact,Minneapolis,Law,Positive,StayAtHome
0,5,1,2,1000,One bedroom units,White American,Female,Positive contact,Minneapolis,0,1,0
1,5,2,2,1000,One bedroom units,White American,Male,Positive contact,Minneapolis,0,1,0
2,5,3,2,1000,One bedroom units,Somali American,Female,Positive contact,Minneapolis,0,1,0
3,6,1,2,1410,One bedroom units,White American,Male,Ghosted,St. Paul and suburbs,0,0,0
4,6,2,2,1410,One bedroom units,African American,Female,Positive contact,St. Paul and suburbs,0,1,0

In [12]:
# check shape of data
np.shape(data)

(5583, 12)

In [13]:
# description of numerical data
data.describe()

,batch,Appnumber,Type,MonthlyRent,Law,Positive,StayAtHome
count,5583.000000,5583.000000,5583.000000,5583.000000,5583.000000,5583.000000,5583.000000
mean,854.912771,1.595916,2.611141,1527.976715,0.494895,0.357335,0.115708
std,683.738709,0.726524,1.107189,598.067114,0.500019,0.479258,0.319904
min,5.000000,1.000000,1.000000,475.000000,0.000000,0.000000,0.000000
25%,253.000000,1.000000,2.000000,1112.500000,0.000000,0.000000,0.000000
50%,613.000000,1.000000,2.000000,1400.000000,0.000000,0.000000,0.000000
75%,1505.500000,2.000000,4.000000,1795.000000,1.000000,1.000000,0.000000
max,2211.000000,3.000000,4.000000,6000.000000,1.000000,1.000000,1.000000

In [14]:
# ***we need to decide what to do with these null values***

# check for null values
data.isnull().values.any()

True