In [1]:
# load packages
import pandas as pd

In [2]:
# import dataset
data = pd.read_csv('StatData.csv')

data.head()

,batch,Appnumber,Type,MonthlyRent,Size,RacialGroup,Sex,contact,Minneapolis,Law,Positive,StayAtHome
0,5,1,2,1000,One bedroom units,White American,Female,Positive contact,Minneapolis,0,1,0
1,5,2,2,1000,One bedroom units,White American,Male,Positive contact,Minneapolis,0,1,0
2,5,3,2,1000,One bedroom units,Somali American,Female,Positive contact,Minneapolis,0,1,0
3,6,1,2,1410,One bedroom units,White American,Male,Ghosted,St. Paul and suburbs,0,0,0
4,6,2,2,1410,One bedroom units,African American,Female,Positive contact,St. Paul and suburbs,0,1,0